body {
    /* background-image: url(images/nakit4.jpg);
    background-color: #F0FFFF;
     background-repeat: no-repeat;
    background-size: cover;  */
    background-color: #ffd6ba;
    

}


h3 {
    text-align: center;
    margin-right: 100px;

}

a { text-decoration: none;
    color: black;

}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.cart-button {
    margin-left: 100px;
}

/* .demo-wrap {
    overflow: hidden;
    position: relative;
  } */

  .demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
  
  .demo-content {
    position: relative;
  }